.vs/Clothing_shop/config/applicationhost.config
.vs/Clothing_shop/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/Clothing_shop/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/Clothing_shop/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/Clothing_shop/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/Clothing_shop/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/Clothing_shop/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/Clothing_shop/DesignTimeBuild/.dtbcache.v2
.vs/Clothing_shop/FileContentIndex/0e04c0be-2a50-4264-b035-8b48bc778757.vsidx
.vs/Clothing_shop/FileContentIndex/1fabab72-b38c-443c-8ded-f3d61eaec264.vsidx
.vs/Clothing_shop/FileContentIndex/332d8588-aa76-4044-a39f-c6b4ff508b0c.vsidx
.vs/Clothing_shop/FileContentIndex/3358771e-e063-466e-a820-9fdf3e41cc5d.vsidx
.vs/Clothing_shop/FileContentIndex/76f50970-bc2a-4808-948e-ba1c0f050362.vsidx
.vs/Clothing_shop/FileContentIndex/b3684687-287f-4f98-b9bf-0021340ad970.vsidx
.vs/Clothing_shop/FileContentIndex/b9421c19-c5bb-4d10-a946-e0834351c55f.vsidx
.vs/Clothing_shop/FileContentIndex/dad22d3a-7ff1-42ff-b3ba-8c5b65d38d6e.vsidx
.vs/Clothing_shop/v17/.suo
.vs/Clothing_shop/v17/DocumentLayout.backup.json
.vs/Clothing_shop/v17/DocumentLayout.json
Clothing_shop/bin/Debug/net8.0/Clothing_shop.dll
Clothing_shop/bin/Debug/net8.0/Clothing_shop.exe
Clothing_shop/bin/Debug/net8.0/Clothing_shop.pdb
Clothing_shop/obj/Clothing_shop.csproj.nuget.dgspec.json
Clothing_shop/obj/Debug/net8.0/apphost.exe
Clothing_shop/obj/Debug/net8.0/Clothing_shop.AssemblyInfo.cs
Clothing_shop/obj/Debug/net8.0/Clothing_shop.AssemblyInfoInputs.cache
Clothing_shop/obj/Debug/net8.0/Clothing_shop.assets.cache
Clothing_shop/obj/Debug/net8.0/Clothing_shop.csproj.CoreCompileInputs.cache
Clothing_shop/obj/Debug/net8.0/Clothing_shop.csproj.FileListAbsolute.txt
Clothing_shop/obj/Debug/net8.0/Clothing_shop.dll
Clothing_shop/obj/Debug/net8.0/Clothing_shop.GeneratedMSBuildEditorConfig.editorconfig
Clothing_shop/obj/Debug/net8.0/Clothing_shop.genruntimeconfig.cache
Clothing_shop/obj/Debug/net8.0/Clothing_shop.pdb
Clothing_shop/obj/Debug/net8.0/Clothing_shop.sourcelink.json
Clothing_shop/obj/Debug/net8.0/EndpointInfo/Clothing_shop.json
Clothing_shop/obj/Debug/net8.0/ref/Clothing_shop.dll
Clothing_shop/obj/Debug/net8.0/refint/Clothing_shop.dll
Clothing_shop/obj/project.assets.json
Clothing_shop/obj/project.nuget.cache
.vs/Clothing_shop/config/applicationhost.config
